<h1>Links#create</h1>
<p>Find me in app/views/rails_links/links/create.html.erb</p>

<%= form_for( @link ) do |f| %>

    <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
    </div>

        <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description %>
    </div>

    <div class="field">
        <%= f.label :image %><br />
        <%= f.file_field :image %>
    </div>

    <%= f.submit %>
<% end %>

